HTML {
	MARGIN: 0px
}
BODY {
	MARGIN: 0px
}
FORM {
	MARGIN: 0px
}
.FormSize {
	WIDTH: 780px
}
.PageForm {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.Table1 {
	BORDER-TOP-STYLE: groove; BORDER-RIGHT-STYLE: groove; BORDER-LEFT-STYLE: groove; LIST-STYLE-TYPE: upper-roman; BORDER-COLLAPSE: collapse; BORDER-BOTTOM-STYLE: groove
}
.StandardText {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif
}
.StandardText A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.StandardText A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.StandardText A:hover {
	COLOR: black; TEXT-DECORATION: none
}
.StandardText A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.StandardText1 {
	FONT-SIZE: 12px; COLOR: blue; FONT-FAMILY: Verdana, Arial, sans-serif
}
.StandardText1 A:link {
	COLOR: black; TEXT-DECORATION: none
}
.StandardText1 A:visited {
	COLOR: black; TEXT-DECORATION: none
}
.StandardText1 A:hover {
	COLOR: black; TEXT-DECORATION: underline
}
.StandardText1 A:active {
	COLOR: black; TEXT-DECORATION: none
}
.StandardTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif
}
.StandardTextBold A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.StandardTextBold A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.StandardTextBold A:hover {
	COLOR: black; TEXT-DECORATION: underline
}
.StandardTextBold A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.ToolBarText {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Arial
}
.ToolBarText A:link {
	COLOR: blue; TEXT-DECORATION: none
}
.ToolBarText A:visited {
	COLOR: blue; TEXT-DECORATION: none
}
.ToolBarText A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.ToolBarText A:active {
	COLOR: blue; TEXT-DECORATION: none
}
.ToolBarText1 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Arial
}
.ToolBarText1 A:link {
	COLOR: blue; TEXT-DECORATION: none
}
.ToolBarText1 A:visited {
	COLOR: blue; TEXT-DECORATION: none
}
.ToolBarText1 A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.ToolBarText1 A:active {
	COLOR: blue; TEXT-DECORATION: none
}
.LeftTab {
	BACKGROUND-IMAGE: url(Images/LeftTab.gif); WIDTH: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
.MidTab {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(Images/MidTab.gif); WIDTH: 160px; COLOR: white; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.RightTab {
	BACKGROUND-IMAGE: url(Images/RightTab.gif); WIDTH: 29px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.ToolBar A:link {
	COLOR: white; TEXT-DECORATION: none
}
.ToolBar A:hover {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
.CurrentToolBar {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(Images/CurrentToolBar.gif); WIDTH: 160px; COLOR: white; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.NormalToolBar {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(Images/ToolBarBg.gif); WIDTH: 160px; COLOR: white; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.Button {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #003180; CURSOR: hand; COLOR: white; FONT-FAMILY: Verdana, sans-serif
}
.Button1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #003180; CURSOR: hand; COLOR: white; FONT-FAMILY: Verdana, sans-serif
}
.BlurTextNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Verdana, sans-serif
}
.BlurTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Verdana, sans-serif
}
.BlurTextStrikeThru {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: line-through
}
.csTextSmall {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, helvetica
}
.csTextSmall A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.csTextSmall A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.csTextSmall A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.csTextSmall A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.csTextLarge {
	FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: verdana, helvetica
}
.csTextLarge A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.csTextLarge A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.csTextLarge A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.csTextLarge A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.PaymentFormTop {
	WIDTH: 640px
}
.PaymentFormBot {
	WIDTH: 640px
}
.PayFormsCell {
	HEIGHT: 280px
}
.PayForm {
	BORDER-RIGHT: #ffcc66 1px outset; BORDER-TOP: #ffcc66 1px outset; FONT-SIZE: 8pt; BORDER-LEFT: #ffcc66 1px outset; COLOR: #000000; BORDER-BOTTOM: #ffcc66 1px outset; FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
.PayForm TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffcc66; TEXT-ALIGN: left
}
.PayForm TH A {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000
}
.PayForm SELECT {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #eeeedd
}
.PayFormBox {
	FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #eeeedd
}
.Warning {
	FONT-SIZE: 9pt; COLOR: #aa0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.LeftForm {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; MARGIN-LEFT: 5px; COLOR: white; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003180
}
.LeftForm A {
	FONT-SIZE: 10pt; COLOR: darkblue; TEXT-DECORATION: none
}
.LeftForm A:hover {
	TEXT-DECORATION: underline
}
.LeftForm SELECT {
	FONT-SIZE: 8pt; WIDTH: 150px
}
.LeftForm P A {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: blue; TEXT-DECORATION: underline
}
.LeftForm SPAN.SummaryTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: darkblue
}
.LinkButton {
	BORDER-RIGHT: black 0px outset; BORDER-TOP: black 0px outset; FONT-SIZE: 7pt; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: black 0px outset; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: black 0px outset; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.HighlightButton {
	BACKGROUND: #ffc040; FONT: bold 6pt Arial, Helvetica, sans-serif; CURSOR: hand; COLOR: black
}
.footer {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, sans-serif
}
.footer A {
	COLOR: blue; TEXT-DECORATION: underline
}
.footer A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.MessageBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, sans-serif
}
.Message {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, sans-serif
}
.Message A {
	COLOR: black; TEXT-DECORATION: none
}
.Message A:hover {
	COLOR: black; TEXT-DECORATION: underline
}
.Message H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Message H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Message H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0px; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Message SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; WIDTH: 150px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Message INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Message TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; LINE-HEIGHT: normal; FONT-STYLE: normal; BACKGROUND-COLOR: #eeeedd; FONT-VARIANT: normal
}
.MessageLeftPanel {
	FONT-SIZE: 8pt; MARGIN-LEFT: 5px; COLOR: black; MARGIN-RIGHT: 5px; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #ffee88
}
.SearchBoard {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BACKGROUND: white; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.SearchBoard2 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; FONT-WEIGHT: bold; BACKGROUND: white; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid
}
.StatusBar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; BACKGROUND: #003160; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; FONT-FAMILY: Verdana, sans-serif
}
.StatusBar A {
	COLOR: white; TEXT-DECORATION: none
}
.StatusBar A:hover {
	COLOR: #ffc040; TEXT-DECORATION: none
}
.SumHeading {
	FONT-SIZE: 10pt; MARGIN-LEFT: 5px; COLOR: black; MARGIN-RIGHT: 5px; FONT-FAMILY: Verdana, sans-serif
}

.MainHead{FONT-SIZE: 13pt; FONT-WEIGHT: bold;  FONT-FAMILY: Verdana; COLOR=#333399;
}

.SubHead{FONT-SIZE: 10pt; FONT-WEIGHT: bold;  FONT-FAMILY: Verdana; COLOR: #333399;
}
.SubHeadError{FONT-SIZE: 10pt; FONT-WEIGHT: bold;  FONT-FAMILY: Verdana; COLOR: red;
}

.LabelForm{FONT-SIZE: 9pt; FONT-WEIGHT: normal;  FONT-FAMILY: Verdana; 
}


.LabelError{FONT-SIZE: 9pt; FONT-WEIGHT: bold; color:red;  FONT-FAMILY: Verdana; 
}

.LabelFormbold{FONT-SIZE: 10pt; FONT-WEIGHT: bold;  FONT-FAMILY: Verdana; 
}
.LabelText{FONT-SIZE: 8pt; FONT-WEIGHT: bold;  FONT-FAMILY: Verdana; 
}

.textinput{ FONT-SIZE: 7pt;FONT-FAMILY: Verdana; 
}
.textArea{ FONT-SIZE: 7pt;FONT-FAMILY: Verdana;TEXT-TRANSFORM: uppercase; 
}
.textinputbig
{ 	
	FONT-SIZE: 7pt;
	FONT-FAMILY: Verdana; 
	
}
.textboxsmall{FONT-SIZE: 7pt;FONT-FAMILY: Verdana;}
.textboxsosmall{FONT-SIZE: 7pt;FONT-FAMILY: Verdana;width:70}
.textboxbig{FONT-SIZE: 7pt;FONT-FAMILY: Verdana; width:370 }

.textboxmedium{FONT-SIZE: 7pt;FONT-FAMILY: Verdana;}

.textinputmedium{ FONT-SIZE: 7pt;FONT-FAMILY: Verdana;  width:255 
}
.textsmall{ FONT-SIZE: 7pt;FONT-FAMILY: Verdana; width:55;
}
.buttonnormal{FONT-SIZE: 9pt;FONT-FAMILY: Verdana;background-color: #333399; height: 22; width: 127; color:lightyellow;
}
.buttonnormal1{FONT-SIZE: 9pt;FONT-FAMILY: Verdana;background-color: #333399; height: 22; width: 178; color:lightyellow;
}
.buttonsmall{FONT-SIZE: 9pt;FONT-FAMILY: Verdana;background-color: #333399; height: 22; width: 57; color:lightyellow;
}
.buttonmedium{FONT-SIZE: 9pt;FONT-FAMILY: Verdana;background-color: #333399; height: 22; width: 77; color:lightyellow;
}
.buttonsosmall{FONT-SIZE: 9pt;FONT-FAMILY: Verdana;background-color: #333399; height: 22; width: 57; color:lightyellow;
}
.buttondisplay{FONT-SIZE: 7pt;FONT-WEIGHT: bold; FONT-FAMILY: Verdana;background-color: #333399; height: 18; width: 100; color:lightyellow;
}
.buttondisplay1{FONT-SIZE: 7pt;FONT-WEIGHT: bold; FONT-FAMILY: Verdana;background-color: #333399; height: 18; width: 110; color:lightyellow;
}
.buttonlargedisplay{FONT-SIZE: 7pt;FONT-FAMILY: Verdana;background-color: #333399; height: 18; width: 130; color:lightyellow;
}
.buttonorgin{FONT-SIZE: 9pt;FONT-FAMILY: Verdana;background-color: #333399; width: 55; height: 22;  color:lightyellow;
}

.buttondir{FONT-SIZE: 9pt;FONT-FAMILY: Verdana;background-color: #333399; width: 62; height: 22;  color:lightyellow;
}

.textt{text-align:right;}
.text1{text-align:right;FONT-SIZE: 7pt;FONT-FAMILY: Verdana;}

.linkFact A:link {font-size:12px; text-decoration: none}
.linkFact A:visited {font-size:12px;text-decoration: none;}
.linkFact A:active {font-size:12px;text-decoration: yes}
.linkFact A:hover {font-size:12px;text-decoration: none; color: red; font-weight:normal;}

.DISABLED{
color:blue !important;
* color:blue !important;
}
.comment
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 12px;
    HEIGHT: 18px;
    TEXT-TRANSFORM: uppercase;
    WIDTH: 330px
}

.LabelMsjeAvi{FONT-SIZE: 12pt; FONT-WEIGHT: bold; color:green;  FONT-FAMILY: Verdana; 
}